.v-alert
{
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 5;
    width: 300px;
    opacity: 0;
    animation: show 0.5s forwards;
    -webkit-animation: show 0.5s forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/* .alert
{
    animation: hide 0.5s backwards;
    -webkit-animation: hide 0.5s backwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
} */

@-webkit-keyframes show
{
    100%
    {
        right: 0;
        opacity: 1;
    }
}

@keyframes show
{

    100% 
    {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes hide
{
    100%
    {
        right: -300px
    }
}

@keyframes hide
{
    100%
    {
        right: -300px
    }
}