.content-padding
{
    padding-top: 120px;
    min-height: 700px;
}
.nav-items-padding
{
    padding: 10px;
}
.scrolly
{
    overflow-y: scroll;
    overflow-x: hidden;
}
.footer
{
    margin-top: 200px;
    bottom: 0;
    left: 0;
}
.v-toolbar-title 
{
    color: black;
    color: inherit
}