.content-padding
{
    padding-top: 120px;
    min-height: 900px;
}
.nav-items-padding
{
    padding: 10px;
}
.scrolly
{
    overflow-y: scroll;
    overflow-x: hidden;
}
.footer
{
    margin-top: 200px;
    bottom: 0;
    left: 0;
}
.v-toolbar-title 
{
    color: black;
    color: inherit
}
.online {
    width: 10px;
    height: 10px;
    margin: 2px;
    background: green;
    border-radius: 100%;
}