.v-card.images-flex:hover
{
    opacity: 0.6;
    cursor: pointer;
}

.show-btns:hover 
{
    color: rgb(0, 0, 0, 0.3) !important;
    cursor: pointer;
    opacity: 0.6;
}
.text-align
{
    text-align: center;
    width: auto;
    width: 200px;
}

.v-card-title
{
    text-align: center;
    width: 200px;
}

.radius-profile
{
    border-radius: 100%;
}

@media only screen and (min-width: 900px)
{
    .images-flex
    {
        text-align: center;
        display: inline-block;
        flex-wrap: wrap;
    }
    .image-block
    {
        display: inline-block;
        flex-wrap: wrap;
    }
    .image-width
    {
        min-width: 200px;
        min-height: 200px;
    }
}