.v-card.images-flex:hover
{
    opacity: 0.6;
    cursor: pointer;
}

.show-btns:hover 
{
    color: rgb(0, 0, 0, 0.3) !important;
    cursor: pointer;
    opacity: 0.6;
}
.text-align
{
    text-align: center;
    width: auto;
    width: 200px;
}

.v-card-title
{
    text-align: center;
    width: 200px;
}

.radius-profile
{
    border-radius: 100%;
}

.online {
    width: 10px;
    height: 10px;
    margin: 2px;
    background: green;
    border-radius: 100%;
    right: 0;
    top: 0;
}
.lastseen {
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: -2px;
    padding-bottom: -2px;
    border: 1px dotted ;
    font-size: x-small;
    right: 0;
    top: 0;
}

@media only screen and (min-width: 900px)
{
    .images-flex
    {
        text-align: center;
        display: inline-block;
        flex-wrap: wrap;
    }
    .image-block
    {
        display: inline-block;
        flex-wrap: wrap;
    }
    .image-width
    {
        min-width: 200px;
        min-height: 200px;
    }
}