.v-parallax
{
    align-content: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding: 0;
} 
.parent-container
{
    padding: 0;
    height: auto;
    width: 100%;
}
.signup
{
    height: auto;
    padding-top: 50px;
}
.text-color
{
    color: #ff05cb;
}
.btn-position
{
    width: 100%;
    text-align: center;
}
.btn-align
{
    margin: 0 auto;
}
.dotted-line.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: dotted;
}
.dotted-outline.v-text-outlined-field>.v-input__control>.v-input__slot:before {
    border-style: dotted;
}
.alert{
    color: #fff;
    background: #f56042;
    border-radius: 10px;
    padding: 2px;
    border: 1px dotted;
    text-align: center;
}

.success{
    color: #fff;
    background: #10b53f;
    border-radius: 10px;
    padding: 2px;
    border: 1px dotted;
    text-align: center;
}

@media screen and (max-width: 940px)
{
    .footer
    {
        margin-top: 180px;
    }
}

